/* Styling for Expense List */
.main_Container{
    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; 
    margin-top: 80px;
   
  
}
.expense-list-container {
   
    max-width: 30%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    left: 50%;
    top: 50%;
    
}
::-webkit-scrollbar {
    display: none;
}
.expense-list-container:hover {


    box-shadow: 0px 0px 30px rgb(8, 236, 0);
    border: 1px solid white ;
}
.expense-list-container h2 {
    color: rgb(2, 187, 2);
}


.expense-list {
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    overflow-y: scroll;
}

.expense-list li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: black;
}
        
.expense-list span{
    padding: 2px;
    background-color: red;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: #f4f4f4;
    font-weight: bold;
    font-size: large;
    border: 1px solid rgb(255, 0, 0);

}
.expense-list span:hover{

    background-color: rgb(138, 28, 28);
    border: 1px solid white;
}


  .expense-list li strong {
    margin-left: 10px; /* Add some space between the description and the amount */
  }
  
